
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  header h2,nav h1,#about h1,#about h3,#about #word,#word1,.rightsection,.skills #h1,.images p{

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
font-weight: bold;
  }
  section p{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
  body{
    margin: 0;
    padding: 0;
  }
  html{
    scroll-behavior: smooth;
    transition: .5s;
  }
  ::-webkit-scrollbar{
    width: 30px;;
  }
  ::-webkit-scrollbar-track{
    background-color: rgb(180, 167, 167);
  }
  ::-webkit-scrollbar-thumb{
    background-color:rgb(36, 95, 95) ;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: aqua;
    cursor:grab;
  }
  ::-webkit-scrollbar-corner{
    background-color: purple;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 37, 37);
    width: 100%;
    position: fixed;
    z-index: 3;
 
  }
  header h2{
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    box-shadow:3px 3px 15px 12px black  ;
    background-color:rgb(0, 247, 255) ;
    animation: header 1s ease forwards;
    animation-delay: .9s;
    opacity: 0;
  }
  @keyframes header{
    0%{
      transform: translateX(-100px);
      opacity: 0;
    }
    100%{
      transform: translateX(0);
      opacity: 1;
    }
  }

  header ul{
   list-style: none;
  }
header ul li{
  display: inline-block;
}
  header ul li a{
    text-transform: capitalize;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  transition: .5s;
  opacity: 0;
  animation: headerbtns .8s ease forwards;
  animation-delay: 1.2s;
  }
  @keyframes  headerbtns{
    0%{
      transform: translatey(-100px) ;
      opacity: 0;
    }
    100%{
      transform: translatey(0) ;
      opacity: 1;
    }
  }
  header #ul2 li a {
    opacity: 0;
    animation: headerbtn .8s ease forwards;
    animation-delay: 1.5s;
  }
  @keyframes headerbtn{
    0%{
      transform: translatey(-200px) ;
      opacity: 0;
    }
    100%{
      transform: translatey(0) ;
      opacity:1;
    }
  }
#ul2 li a{
  color: black;
  font-size: 30px;
}
#ul1 li a:hover{
 color: rgb(233, 236, 238);
 border-radius: 5px;
 background-color: rgb(0, 0, 255);
 cursor: pointer;
 text-shadow: 0px 0px 0px ;
 font-size: 27px;
transform: scale(1.5);
transition:0.5s;
box-shadow:10px 10px 15px 12px black
}
#ul2 li a:hover{
color: rgb(8, 8, 207);
font-size: 40px ;
transform: scale(1.4);
transition: 0.4s ease-in-out;
}
.nav{
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 800px;
  background-color: rgb(226, 216, 216);
}
nav{
  display: block;
  padding-top: 200px;
  padding-left: 7%;
  background-color: rgb(226, 216, 216);
}
nav #p1{
  font-weight: bold;
  padding-top: 10px;
  color: rgb(0, 110, 255);
  text-transform: capitalize;
  letter-spacing: 2px;
  animation: p1 1s ease forwards ;
  animation-delay: 1.3s;
  opacity: 0;
}
@keyframes  p1{
  0%{
    transform: translatex(-100px) ;
    opacity: 0;
  }
  100%{
    transform: translatex(0)  ;
    opacity: 1;
  }
}

nav h1{
  padding-top:10px ;
  text-transform: uppercase;
font-size: 40px;
letter-spacing: 7px;
background: linear-gradient(100deg,red,red,white,blue,white,rgb(225, 241, 0),white,rgb(108, 0, 248),rgb(108, 0, 248),red);
background-size: 400% 400%;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
animation: gradient-animation 4s ease-in-out infinite ;
animation-delay: 2s;

}
@keyframes gradient-animation {
  0%{
    background-position: 0% 25%;
  }
25%{
  background-position: 25% 50%;
}
50%{
  background-position: 50% 75%;
}
75%{
  background-position: 75% 100%;
}
100%{
  background-position: 100% 0%;
 
}
}
nav #p2{
  text-transform: capitalize;
  font-weight: bold;
  color: rgb(6, 6, 179);
  padding-bottom: 35px;
  animation: p2 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
@keyframes  p2{
  0%{
    transform: translatex(-100px) ;
    opacity: 0;
  }
  100%{
    transform: translatex(0)  ;
    opacity: 1;
  }
}
nav ul{
  display:flex ;

}
nav ul li{
  list-style: none;
  display: inline-block;
}
.nav nav ul a{
  padding: 7px;
margin: 20px 5px 0px 20px;
  font-size: 25px;
  text-decoration: none;
  color: rgb(0, 183, 255);
 background:rgb(0, 0, 0);
 border-radius: 20px;
  transition: .8s;
  animation: navbtn 1s ease forwards;
  animation-delay: 1.8s;
  opacity: 0;
}
@keyframes navbtn{
0%{
transform: translatex(-100px) ;
}
100%{
  transform: translatey(0);
  opacity: 1;
}
}
.nav nav ul a:hover{
  color: rgb(255, 249, 249);
  border-radius: 20px;
  background-color: rgb(0, 0, 211);
  cursor: pointer;
  font-size: 40px;
 transition:0.5s;
 box-shadow:5px 5px 15px 10px black
}
aside{
  padding-left: 15%;
  padding-top: 125px;
  background-color: rgb(226, 216, 216);
}
aside img{
  width: 350px;
  padding-left: -10%;
  padding-top: 50px;
 padding-right: 100px;
 animation: asideimg 1s ease forwards ;
 animation-delay: 1.7s;
 opacity: 0;
 background: rgb(226, 216, 216);
}
@keyframes asideimg{
0%{
  transform: translatex(100px)
}
100%{
  transform: translate(0);
  opacity: 1;
}

}
 #about{
  font-weight: bold;
  background:rgb(255, 255, 255);
  margin-bottom: 70px;
 }
#about #h1{
  display: inline-block;
  margin-left: 585px;
  margin-top: 150px;
  font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
   padding:  30px;
border: solid 2px black ;
border-radius: 5px;
    color: rgb(0, 0, 0);
    box-shadow:3px 3px 15px 12px black  ;
    background-color:rgb(8, 8, 8) ;

color: aqua;
    transition: .3s;
}
#about #h1:hover{
transform:scale(1.2) ;
color: white;
cursor: pointer;
}
#about h3{
  font-size: 25px;
  letter-spacing: 4px;
  margin-left: 150px;
  margin-top: 50px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  display:inline-block;
}
#about #word{
  color: #42df76;
letter-spacing: 5px;
padding: 0px 4px;
font-size: 25px;
font-weight: bold;

}
section{
  margin-left: 150px;
  display: inline;
}
section p{
  font-family: "Poppins", sans-serif;
  font-style: normal;
padding-left: 20px;
padding-right: 5px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  line-height: 15px;
  font-weight: bold;
  line-height: 20px
}
#section2{
  padding-top: 22px;
  line-height: 20px
}
#word1{
  color: #c87c50 ;
}
#about .about{
display: grid;
grid-template-columns: 2fr 1fr;
column-gap: 3rem;
}
.rightsection p{
  font-size: 17px;
  margin-left: 20px;
  border-bottom: 1px solid #ddd;
}
.rightsection b{
  color: #000000;
  font-weight: bold;
}
.skills{
background-color: #333333;
margin: 0px;
}
.skills #h1{
display: inline-block;
margin-left: 590px;
color: antiquewhite;
transition: .5s;
padding-bottom: 0;
margin-bottom: 0;
padding-top: 50px;
}
#hr1{
  width: 90px;
  height: 3px;
  border: #ddd;
background-color: #19bd27;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills #skills{
color: aqua;
font-weight: bold;

}
.images{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.images img{
  width: 90px;
}
.images p{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(9, 143, 143);
}
.bodyskill{
  padding: 0;
  margin: 20px 0 0 0 ;
  list-style: none;
  background: #333333;
  text-transform:capitalize ;
}
.bodyskill h1{
  text-align: center;
font-weight: bold;
color: aqua;
margin-top: 30px;
}
.bodyskill h3{
  margin: 5px;
}
.skill{
  width: 500px;
  margin: 60px auto;
  color:#fff;
  padding: 20px;
  box-shadow: 0 0 14px 10px black;
}
.skill li{
  margin: 20px 0 20px 0;
  padding: 10px;
  text-transform: uppercase;
}
.bar{
  background: #333333;
  display: block;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px 3px black;
  transition: all 0.3s cubic-bezier(.25,8,25,1);
}
.bar:hover{
  box-shadow: 0 5px 10px 9px black;
}
.bar span{
  height: 20px;
  float: left;
  background: linear-gradient(to right,rgb(255, 1, 120)0%, rgb(253, 17, 0)100%);
}
.html{
  width: 90%;
  animation: html 3s;
}
.css{
  width: 75%;
  animation: css 3s;
}
.javascript{
  width: 20%;
  animation: javascript 3s;
}
.python{
  width: 30%;
  animation: python 3s;
  margin-bottom: 0;
}
.contact{
  padding: 0;
  background-color: #302e2e;
  text-transform: capitalize;
}
.contact h1{
  padding-top: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #0f0e0e;
  font-weight: bold;
}
.contact span{
  font-weight: bold;
  color: aqua;
}
.contact hr{
  text-align: center;
  width: 70px;
  height: 3px;
  background-color: #19bd27;
  border-radius: 5px;
  transition: .4s;
  margin-bottom: 35px;
}
form{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-flow: column;
 
}
.contact input{
  width: 300px;
  padding: 5px 10px;
  margin: 7px;
  border: 3px #19bd27 solid;
  border-radius: 15px;
}
.contact input:focus{
  color: #ddd;
  background-color: #000000;
  border: 3px rgb(29, 28, 28);
}
button{
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 200px;
  border: 2px black;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 20px;
  width: 150px;
  color: aqua;
  background-color: #000000;
}
@media (min-width:950px) and (max-width:1050px)
{
header{
  width: 100%;
}
header h2{
  font-size: 25px;
  margin-left: 5px;
}
.nav{
  width: 100%;
}
}
@media (max-width:950px) {
  header{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 15px;
    justify-content: center;
    align-items: center;
  }
  header h2{
    padding: 20px 5px;
    font-size: 25px;
    margin-left: 0;
  }
  .nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(226, 216, 216);
    height: 100%
  }
  nav p{
   margin-top: 50px;
    margin-left: 20px;
  }
  aside{
    width: 100%;
    background-color: rgb(226, 216, 216);
  }
  aside img{
      margin-top: 150px;
      margin-right: 30px;
      margin-bottom: 100px;
  }
nav ul{
  margin-bottom: 100px;
}

}
@media (max-width:750px){
  .nav{
    width: 100%;
    background-color: rgb(226, 216, 216);
    height: 100%;
  }
  aside{
    width: 100%;
    background-color: rgb(226, 216, 216);
  }
aside img{
  margin-right: 0;
}
}

@media (max-width:500px){
  .nav{
    width: 100%;
    background-color: rgb(226, 216, 216);
  }
  aside{
    height: 100%;
  }
  aside img{
    margin-right: 0;
  }
}
@media (max-width:400px){
  .nav{
    margin: 0;
    height: 100%;
    background-color:rgb(226, 216, 216) ;
  display: grid;
  width: 100%;
  gap: 150px;
  grid-template-columns: 250px 100px;
  }
  nav{
    background-color: rgb(226, 216, 216);
  }
}